[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "lib/imgui-sfml"]
    path = lib/imgui-sfml
    url = https://github.com/eliasdaler/imgui-sfml
    branch = master
[submodule "lib/tmxlite"]
	path = lib/tmxlite
	url = https://github.com/fallahn/tmxlite.git
    branch = master
